<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your Phrase in Pig Latin:</h1>

    <p> <%= @pig_latin_phrase %> </p>
  </body>
</html>
