<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
   <!-- <title>Pig Latinizer!</title>  -->
  </head>
  <body>

    <h1>Pig Latinizer</h1>
    <form methpd="POST" action="piglatinize">
      <label for="phrase">Enter your phrase:</label>
      <input type="text" id="phrase" name="user_phrase">
      <input type="submit">
    </form>

  </body>
</html>

<!-- All you need to type is html + tab, and you get this template: -->
<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  </body>
</html> -->
